{% extends "base.html" %}
{% load i18n %}
{% block extra_scripts %}
<script type="text/javascript" src="/static/mquiz/mobile/lib/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/mquiz/js/jquery.formset.min.js"></script>
<script type="text/javascript">
		$(function() {
			$('.question').formset(
				{formCssClass: 'dynamic-quiz-form',
					addText:'Add another question',
					deleteText:'Remove this question',
					added: function(row){
						// console.log("added");
						// TODO should handle the renumbering here
					},
					deleted: function(row){
						// console.log("removed");
						// TODO should handle the renumbering here
					},
					addCssClass:'quiz-add-question',
					deleteCssClass:'quiz-delete-question'
				});
           });
       </script>
{% endblock extra_scripts %}
{% block content %}
<h2>{{ title }}</h2>

<form action="" method="post" id="quizform">
	{% csrf_token %}
	<div class="fieldWrapper">
		<div class="fieldErrorWrapper">{{ quiz_form.title.errors }}</div>
		<div class="fieldLabelWrapper">{% trans 'form_field_quiz_title' %}</div>
		<div class="fieldInputWrapper">{{ quiz_form.title }}</div>
	</div>
	<div class="fieldWrapper">
		<div class="fieldErrorWrapper">{{ quiz_form.description.errors }}</div>
		<div class="fieldLabelWrapper">{% trans 'form_field_quiz_description' %}</div>
		<div class="fieldInputWrapper">{{ quiz_form.description }}</div>
	</div>
	
	<h3 class="formsection">{% trans 'form_section_questions' %}</h3>
		{{ question_formset.management_form }}
	 	{% for form in question_formset.forms %}
	 		<div class="question">
	        	<div class="fieldWrapper">
					<div class="fieldErrorWrapper">{{ form.title.errors }}</div>
					<div class="fieldLabelWrapper">{% trans 'form_field_question_title' %}</div>
					<div class="fieldInputWrapper">{{ form.title }}</div>
				</div>
				<div class="fieldWrapper">
					<div class="fieldErrorWrapper">{{ form.type.errors }}</div>
					<div class="fieldLabelWrapper">{% trans 'form_field_question_type' %}</div>
					<div class="fieldInputWrapper">{{ form.type }}</div>
				</div>
				<div class="responses">
					<div class="responsetext">{% trans 'form_field_responses' %}</div>
					<div class="responsescore">{% trans 'form_field_score' %}</div>
					<div class="responsefeedback">{% trans 'form_field_feedback' %}</div>
				</div>
				{% if form.non_field_errors %}
					<div class="fieldWrapper">
						<div class="fieldErrorWrapper">{{ form.non_field_errors }}</div>
					</div>
				{% endif %}
				<div class="responses">
					<div class="responsetext">{{ form.response1 }}</div>
					<div class="responsescore">{{ form.score1 }}</div>
					<div class="responsefeedback">{{ form.feedback1 }}</div>
				</div>
				<div class="responses">
					<div class="responsetext">{{ form.response2 }}</div>
					<div class="responsescore">{{ form.score2 }}</div>
					<div class="responsefeedback">{{ form.feedback2 }}</div>
				</div>
				<div class="responses">
					<div class="responsetext">{{ form.response3 }}</div>
					<div class="responsescore">{{ form.score3 }}</div>
					<div class="responsefeedback">{{ form.feedback3 }}</div>
				</div>
				<div class="responses">
					<div class="responsetext">{{ form.response4 }}</div>
					<div class="responsescore">{{ form.score4 }}</div>
					<div class="responsefeedback">{{ form.feedback4 }}</div>
				</div>
				<div style="clear:both"></div>
			</div>
			
        {% endfor %}
	<div class="fieldWrapper">
        <div class="fieldLabelWrapper">&nbsp;</div>
        <div class="fieldInputWrapper"><input type="submit" value="{% trans 'button_quiz_save' %}" /></div>
    </div>
</form>
{% endblock %}
