{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans 'page_title_create_quiz' %}</h2>

<form action="{% url mquiz_create %}" method="post">
	{% csrf_token %}
	<div class="fieldWrapper">
		<div class="fieldErrorWrapper">{{ quiz_form.title.errors }}</div>
		<div class="fieldLabelWrapper">{% trans 'form_field_quiz_title' %}</div>
		<div class="fieldInputWrapper">{{ quiz_form.title }}</div>
	</div>
	<div class="fieldWrapper">
		<div class="fieldErrorWrapper">{{ quiz_form.description.errors }}</div>
		<div class="fieldLabelWrapper">{% trans 'form_field_quiz_description' %}</div>
		<div class="fieldInputWrapper">{{ quiz_form.description }}</div>
	</div>
	<h3 class="formsection">{% trans 'form_section_questions' %}</h3>
		{{ question_formset.management_form }}
	 	{% for form in question_formset.forms %}
        	<div class="fieldWrapper">
				<div class="fieldErrorWrapper">{{ form.title.errors }}</div>
				<div class="fieldLabelWrapper">{% trans 'form_field_question_title' %} {{ forloop.counter }}</div>
				<div class="fieldInputWrapper">{{ form.title }}</div>
			</div>
			<div class="fieldWrapper">
				<div class="fieldErrorWrapper">{{ form.type.errors }}</div>
				<div class="fieldLabelWrapper">{% trans 'form_field_question_type' %}</div>
				<div class="fieldInputWrapper">{{ form.type }}</div>
			</div>
			<div class="responses">
				<div class="responsetext">{% trans 'form_field_responses' %}</div>
				<div class="responsescore">{% trans 'form_field_score' %}</div>
			</div>
        {% endfor %}
	
	<div class="fieldWrapper">
        <div class="fieldLabelWrapper">&nbsp;</div>
        <div class="fieldInputWrapper"><input type="submit" value="{% trans 'button_quiz_save' %}" /></div>
    </div>
</form>
{% endblock %}
